<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head') %>
</head>

<body>
    <header>
        <%- include('layout/header') %>
    </header>

    <main>


        <% AllCountriesPageArray.forEach(element=> {%>
            <section class="cardss">

                <h3>Country:-
                    <%= element.country %>
                </h3>
                <h3>TotalConfirmed:-
                    <%= element.totalconfirmed %>
                </h3>
                <h3>TotalDeaths;-
                    <%= element.totaldeaths %>
                </h3>
                <h3>TotalRecovered:-
                    <%= element.totalrecovered %>
                </h3>
                <h3>Date:-
                    <%= element.thedate %>
                </h3>
                <form action="/" method="post">
                    <input type="hidden" name="country" value="<%= element.country %>">
                    <input type="hidden" name="totalconfirmed" value="<%= element.totalconfirmed %>">
                    <input type="hidden" name="totaldeaths" value="<%= element.totaldeaths %>">
                    <input type="hidden" name="totalrecovered" value="<%= element.totalrecovered %>">
                    <input type="hidden" name="thedate" value="<%= element.thedate %>">
                    <button>add-to-my-record</button>
                </form>



            </section>
            <% }); %>
    </main>

</body>

</html>